# course config files
*.yaml

# gradle
.gradle/
gradle/
gradlew
*.bat
build


# idea confid
.idea

# old stages
/Zookeeper/*
!/Zookeeper/task/
/Zookeeper/task/*
!/Zookeeper/task/src/
!/Zookeeper/task/build.gradle
!/Zookeeper/task/build.gradle.kts

# Project exclude paths
/Topics/Primitive and reference types/Creating a reference type/out/
/Topics/Primitive and reference types/Creating a reference type/out/production/classes/
/Topics/The while and do-while loops/Collatz conjecture/out/
/Topics/The while and do-while loops/Collatz conjecture/out/production/classes/
/Topics/The while and do-while loops/The largest element of a sequence/out/
/Topics/The while and do-while loops/The largest element of a sequence/out/production/classes/